<!DOCTYPE html>
<head>
<title>Webshop</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

    <ul>
        <li><a href="/home"> Home </a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register"> Register</a></li>
        <li><a href="/reset">Reset Password?</a></li>
       <li><a href="/logout"> Logout</a></li>
       <li><a href="/addProduct"> Add Product</a></li>
       <li><a href="/myProducts"> My Products</a></li>
    </ul>

    <form class="add-product" action="/addProduct" method="post" enctype="multipart/form-data">

      <input type="text" name="name" id="">
      <input type="text" name="description" id="">
      <input type="number" name="price" id="">
      <input
      type="file"
      name="file"
      id="input-files"
      class="form-control-file border"
    />
  
  <button type="submit">Add product</button>

  </form>

  
          
       
    

</body>
</html>
