<!DOCTYPE html>
<head>
<title>Webshop</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/javascript.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<style>
  div.preview-images > img {
    width: 30%;
  }
</style>
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/addProduct">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li><a href="/Checkout">Checkout</a></li>
    <li class="user-symbol"><a href="/login"><i class="far fa-user"></i></a></li>  
  </ul>

<% if (cartItem.length == 0) { %>
    <div> Din varukorg är tomt</div>
  <% } %>
  <% cartItem.forEach( item => { %>
     
   <div>
      <%= item.name %> 
      <%= item.price %> 
  
       <button> + </button>
       <button> - </button>
       <span> Totalt price : </span>
          
   </div>  
      
   ========================== 
      
    
  <%}) %>
  
      <button type="submit" class="checkout"> Buy </button>
  
  <script src="https://js.stripe.com/v3/"></script>
  
  <script>
  var stripe = Stripe('pk_test_51ILllLGbZ7iRrOxjc10CIcp12K40Hlr6YbEUNBTP35QIKkva1U2qnJbrcNoY27QwPdn03plnvnqemjtjMc6pQ5k400xHAbSVxe');
  document.querySelector(".checkout").addEventListener( "click", ()=>{
      stripe.redirectToCheckout({ sessionId: "<%=sessionId %>" });
  })
  </script>

</body>
</html>