<!DOCTYPE html>
<head>
<title>Check Mail</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li class="user-symbol"><a href="/login"><i class="far fa-user"></i></a></li>  
  </ul>

<div class="check-mail">
    Have you not received an email? <a href="/reset">Send Again </a>
</div>

</body>
</html>