<!DOCTYPE html>
<head>
<title>Webshop</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/addProduct">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li><a href="/Checkout">Checkout</a></li>
    <li class="user-symbol"><a href="/login"><i class="far fa-user"></i></a></li>  
  </ul>

    <% products.forEach( product => { %>
        <div>  <%= product.name %></div>
        <div>  <%= product.description %></div>
        <div>  <%= product.price %></div>
      <% })  %>


</body>
</html>
