<!DOCTYPE html>
<head>
<title>Reset</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li><a href="/Checkout">Checkout</a></li>
    <li class="user-symbol"><a href="/login"><i class="far fa-user"></i></a></li>  
  </ul>

<form class="reset-form" action="/reset" method="post">

 <h2>RESET PASSWORD</h2>
    <input type="email" name="email" id="" placeholder="Ange ditt mejl">
    
    <button type="submit">Send link</button>
    
    </form>

    </body>
    </html>