<!DOCTYPE html>
<head>
<title>Reset Password Form</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/checkout">Checkout</a></li>
    <li class="user-symbol"><a href="/login"><i class="far fa-user"></i></a></li>  
  </ul>

<form class="reset-password-form" action="/resetPasswordForm" method="post">

     <input type="password" name="password" id="" placeholder="Ange ditt nytt lösenord">
     <input type="email" name="email" value="<%= email %>" hidden >
     
     <button type="submit">Reset password</button>

</form>

</body>
</html>