<!DOCTYPE html>
<head>
<title>Shopping Cart</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/addProduct">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li><a href="/Checkout">Checkout</a></li>
  
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Login</a>
      <div class="dropdown-content">
        <a href="/login">Login</a>
        <a href="/register"> Register</a>
        <a href="/reset">Reset Password?</a>
        <a href="/logout">Logout</a>
      </div>
    </li>
       
      </div>
    </li>
  </ul>

<div class="shopping-cart">

<%= cartItem %>

<a href="/checkout"> checkout</a> 
<a href="/home"> Products</a> 

</div>

</body>
</html>