<!DOCTYPE html>
<head>
<title>Shopping Cart</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>

  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/shoppingCart">Shopping Cart</a></li>
    <li class="user-symbol"><a href="/login"><i class="far fa-user"></i></a></li>  
  </ul>


  <div class="all-products">
    
    <% for(let i=0; i<products.length; i++) { %>
     <div class=specific-product>
     <img style="height: 170px;" src= "<%= products[i].image %>" />    
   <h3>  <%= products[i].name %> </h3>
    <h3> <%= products[i].price %> SEK </h3>
    <h3><a href="/shoppingCart/delete/<%= products[i]._id %> "><i class="far fa-trash-alt"></i></a>
    </h3>

   </div>
 
   <% } %>




      <a href="/checkout"> checkout</a> 
      <a href="/home"> Products</a> 
    </div>






</div>

</body>
</html>