<!DOCTYPE html>
<head>
<title>Show Products</title>
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<script src="https://kit.fontawesome.com/8a91947445.js" crossorigin="anonymous"></script>
</head>
<body>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/addProduct">Admin</a></li>
        <li><a href="/shoppingCart">Shopping Cart</a></li>
        <li><a href="/Checkout">Checkout</a></li>
      
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Login</a>
          <div class="dropdown-content">
            <a href="/login">Login</a>
            <a href="/register"> Register</a>
            <a href="/reset">Reset Password?</a>
            <a href="/logout">Logout</a>
          </div>
          <div>
              <%-data%> 
          </div>
        </li>
           
          </div>
        </li>
      </ul>

   <div>

    <h4>UNDER CONSTRUCTION</h4>

    <%  products.forEach ( products => { %>
    <div>
        <%= product.name %>
    </div>
    <div>
        <%= product.price %>
    </div>
    <a href="/addToCart/<%=product.id%>">Add To Cart</a>
    <div>/////////////////**/////////////////</div>
    
    <% }) %> 

   </div>

</body>
</html>