.register-form, .login-form, .reset-form, .reset-password-form, .check-mail, .add-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 2%;
  
  input, button {
     width: 30%; 
    padding: 1%;
    margin: 1%;
}
}

.user-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-decoration: underline;
}