.register-form, .login-form, .reset-form, .reset-password-form, .check-mail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 2%; }

input {
  width: 30%;
  padding: 1%;
  margin: 1%; }
