.register-form, .login-form, .reset-form, .reset-password-form, .check-mail, .add-product, .edit-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 0.5px 0.5px 0px grey;
  align-items: center;
  padding: 2%; }
  .register-form input, .register-form button, .login-form input, .login-form button, .reset-form input, .reset-form button, .reset-password-form input, .reset-password-form button, .check-mail input, .check-mail button, .add-product input, .add-product button, .edit-product input, .edit-product button {
    width: 30%;
    padding: 1%;
    margin: 1%; }

.user-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  text-decoration: none; }
  .user-links a {
    background-color: #F87CBE;
    margin: 1%;
    text-shadow: 0px 0px 0px grey; }

body {
  background-image: url("/static/images/psychedelic-abstract-background-1579715777z45.jpeg");
  background-color: white;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  color: #5A5A53;
  width: 100%;
  height: 100%;
  font-family: 'Permanent Marker', cursive; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F87CBE;
  box-shadow: 5px 5px 10px grey;
  font-size: 1.2rem; }

li {
  float: left; }

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

li a:hover {
  color: #F2F2E9; }

.user-symbol {
  float: right;
  padding-right: 2%; }

.all-products, .shopping-cart, .admin-products {
  margin-top: 1.7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.specific-product, .admin-product {
  width: 20%;
  background-color: white;
  margin: 1%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1.7%;
  box-shadow: 5px 5px 10px grey; }
  .specific-product h3, .admin-product h3 {
    margin: 2%; }

.add-to-cart {
  font-size: 1rem;
  color: white;
  background-color: #5A5A53;
  text-decoration: none;
  padding: 2.5%;
  box-shadow: 5px 5px 10px grey; }

.pagination-link, .shoppingcart-links {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 2%;
  margin-bottom: 2%; }
  .pagination-link a, .shoppingcart-links a {
    color: white;
    background-color: #F87CBE;
    text-decoration: none;
    padding: 0.7%;
    box-shadow: 5px 5px 10px grey; }

.fa-edit, .fa-trash-alt {
  color: #5A5A53; }

.total-price {
  justify-content: center;
  display: flex;
  width: 100%; }
  .total-price h2 {
    background-color: #5A5A53;
    color: white;
    padding: 1%; }

.emty-cart {
  color: white; }

.stripe-payment {
  display: flex;
  width: 100%;
  justify-content: center; }

.buy-button {
  color: white;
  font-size: 2rem;
  background-color: #F87CBE;
  padding: 0.7%;
  font-family: 'Permanent Marker', cursive;
  width: 20%;
  box-shadow: 5px 5px 10px grey;
  cursor: pointer; }
